*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #026666;
}
body{
    background-color: #E3F4F4;
    height: 100vh;
}
h1{
    font-size: 45px;
    letter-spacing: 15px;
}
main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
   height: 100%;
   padding: 40px;
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 3rem;
    margin: 47px;
    border: 1px solid;
    background-color: #faf5ef;
}
.values{
    display: flex;
    gap: 1.5rem;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
#input{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #D2E9E9;
    border: none;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 25px;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 37px;
}
.btns .btn{
    padding: 16px 10px;
    font-size: 25px;
    outline: none;
    border: none ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    background-color: #C4DFDF;
}
.btn:hover{
    box-shadow: none;
    transition: 1s;
}
#input:hover{
    box-shadow: none;
    transition: 1s;
}